@inject NavigationManager NavigationManager
@inherits LayoutComponentBase


@* For MudBlazor *@
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />
@* //////////////////////// *@

<head>
    <style>

        .content {
            margin:0;
            padding:0;
        }

        body{
            margin-top:0;
            font-family: "Didact Gothic", sans-serif;
        }

        .bg-body-tertiary {
            padding:0;
        }

        .content {
            padding-left:0;
            padding-right:0;
        }

        .navbar-brand{
            padding:1em;
        }

    </style>
</head>

@* Login/SignUp/Reset Password Page Nav Bar *@
@if (NavigationManager.Uri.Contains("Login") || NavigationManager.Uri.Contains("/")) // Check if the URL contains "Login"
{
    <nav class="col-12 bg-body-tertiary ">
        <div class="container-fluid bg-black NavigationBar">
            <span class="navbar-brand text-white fw-bold fs-2 didact-gothic-regular" href="#">
                <img src="https://icones.pro/wp-content/uploads/2021/04/icone-de-nourriture-jaune-symbole-png.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                <span class="text-warning">Food</span> Store
            </span>
        </div>
    </nav>
}

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
